# Build artifacts
/_build/
/deps/
*.ez

# Mix
erl_crash.dump
*.beam

# Generated on release
/priv/static/

# Docs
/doc/

# Editor
.claude/
.expert/
.elixir_ls/
.lexical/
*.swp
*.swo
.DS_Store

/.nix
/.direnv
